<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>记录</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/page.css" />
	</head>
	<style>
	.top{
		margin-top:100px;
		width:100%;
		height:56px;
		line-height:56px;
		border-bottom:2px solid #E1E1E1;
		font-size:24px;
		font-weight:400;
		color:rgba(0,0,0,1);
	}
	.time{
		font-size:24px;
		color:#000000;
		padding-top:33px;
	}
	.time span{	
		color:#FF0000;
	}
	.list{
		padding-top:30px;
		font-size:24px;
		font-weight:400;
		color:rgba(0,0,0,1);
	}
	.list_detail{
		padding-top:30px;
		font-size:24px;
		font-family:MicrosoftYaHei;
		font-weight:400;
		color:rgba(0,0,0,1);
		line-height:35px;
	}
	.list_detail img{
		padding-left:6px;
	}
	.warp{
		width:1200px;
		margin:0 auto;
	}
	</style>
	<body>
		<div id="container">
			<div class="header">
				<div class="header_warp">
					<div class="logo"><img src="./img/chain_game.png"/></div>
				    <div class="quit"><img src="./img/quit.png"/><span>退出</span></div>
				    <div class="index"><img src="./img/shape.png"/><span>主页</span></div>
				</div>
			</div>
			<div class="top">
				<div class="warp">
				          链彩游戏>主页>文字验证
				</div>
			</div>
			<div class="warp">
				<div class="time">本局牌序产生时间：<span>2018-12-12 13:45:20</span></div>
				<div class="list">本局牌序:</div>
			<div class="list_detail">
				<span><img src="img/h1.png" alt="" /></span>
				<span><img src="img/h2.png" alt="" /></span>
				<span><img src="img/h3.png" alt="" /></span>
				<span><img src="img/h4.png" alt="" /></span>
				<span><img src="img/h5.png" alt="" /></span>
				<span><img src="img/h6.png" alt="" /></span>
				<span><img src="img/h7.png" alt="" /></span>
				<span><img src="img/h8.png" alt="" /></span>
				<span><img src="img/h9.png" alt="" /></span>
				<span><img src="img/h10.png" alt=""/></span>
				<span><img src="img/h11.png" alt=""/></span>
				<br />
				
				<span><img src="img/h12.png" alt="" /></span>
				<span><img src="img/h13.png" alt="" /></span>
				<span><img src="img/h14.png" alt="" /></span>
				<span><img src="img/h15.png" alt="" /></span>
				<span><img src="img/h16.png" alt="" /></span>
				<span><img src="img/h17.png" alt="" /></span>
				<span><img src="img/h18.png" alt="" /></span>
				<span><img src="img/h19.png" alt="" /></span>
				<span><img src="img/h20.png" alt="" /></span>
				<span><img src="img/h21.png" alt="" /></span>
				<span><img src="img/h22.png" alt="" /></span>
				<br />
				
				<span><img src="img/h23.png" alt="" /></span>
				<span><img src="img/h24.png" alt="" /></span>
				<span><img src="img/h25.png" alt="" /></span>
				<span><img src="img/h26.png" alt="" /></span>
				<span><img src="img/h27.png" alt="" /></span>
				<span><img src="img/h28.png" alt="" /></span>
				<span><img src="img/h29.png" alt="" /></span>
				<span><img src="img/h30.png" alt="" /></span>
				<span><img src="img/h31.png" alt="" /></span>
				<span><img src="img/h32.png" alt="" /></span>
				<span><img src="img/h33.png" alt="" /></span>
				<br />
				
				<span><img src="img/h34.png" alt="" /></span>
				<span><img src="img/h35.png" alt="" /></span>
				<span><img src="img/h36.png" alt="" /></span>
				<span><img src="img/h37.png" alt="" /></span>
				<span><img src="img/h38.png" alt="" /></span>
				<span><img src="img/h39.png" alt="" /></span>
				<span><img src="img/h40.png" alt="" /></span>
				<span><img src="img/h41.png" alt="" /></span>
				<span><img src="img/h42.png" alt="" /></span>
				<span><img src="img/h43.png" alt="" /></span>
				<span><img src="img/h44.png" alt="" /></span>
				<br />
			
				<span><img src="img/h45.png" alt="" /></span>
				<span><img src="img/h46.png" alt="" /></span>
				<span><img src="img/h47.png" alt="" /></span>
				<span><img src="img/h48.png" alt="" /></span>
				<span><img src="img/h49.png" alt="" /></span>
				<span><img src="img/h50.png" alt="" /></span>
				<span><img src="img/h51.png" alt="" /></span>
				<span><img src="img/h52.png" alt="" /></span>
				<span><img src="img/h53.png" alt="" /></span>
				<span><img src="img/h54.png" alt="" /></span>
				<span><img src="img/h54.png" alt="" /></span>
				<br />
			</div>
	    </div>
	</body>
</html>
